##Mencetak Tipe Data
**Praktik 2.4.1**
Cobalah mengetik kode di bawah ini :
``` javascript
#tipe data Boolean
print(True)


#tipe data String
print("Mari belajar Python")
print('Belajar Python Sangat Dengan Mudah')


#tipe data Integer
print(20)


#tipe data Float
print(3.14)


#tipe data List
print([1,2,3,4,5])
print(["satu", "dua", "tiga"])


#tipe data Tuple
print((1,2,3,4,5))
print(("satu", "dua", "tiga"))


#tipe data Dictionary
print({"nama":"Budi", 'umur':20})

#tipe data Dictionary dimasukan ke dalam variabel biodata
biodata = {"nama":"Andi", 'umur':21} #proses inisialisasi variabel biodata
print(biodata) #proses pencetakan variabel biodata yang berisi tipe data Dictionary
type(biodata) #fungsi untuk mengecek jenis tipe data. akan tampil <class 'dict'>
```

In [61]:
#tipe data boolean
print("true")
print("false")

#tipe data string
print("mari belajar python")
print('belajar python sangat dengan mudah')

#tipe data integer
print(20,3,5,6,7)

#tipe data float
print(2.31, 23.134)

#tipe data list
print((1,2,3,4,5))
print(("satu", "dua", "tiga", "empat", "lima"))

#tipe data tuple
print((1,2,3,4,5))
print(("satu", "dua", "tiga", "empat", "lima"))

#tipe data dictionary
print({"nama":"Budi", 'umur':20})

#tipe data dictionary dimasukkan kedalam variabel biodata
biodata = {"nama":"andi", 'umur':21} #proses inisialisasi variabel biodata
print(biodata) #proses pencetakan variabel biodata yang berisi tipe data dictionary 
type(biodata) #fungsi untuk mengecek jenis tipe data. akan tampil <class 'dict'>

true
false
mari belajar python
belajar python sangat dengan mudah
20 3 5 6 7
2.31 23.134
(1, 2, 3, 4, 5)
('satu', 'dua', 'tiga', 'empat', 'lima')
(1, 2, 3, 4, 5)
('satu', 'dua', 'tiga', 'empat', 'lima')
{'nama': 'Budi', 'umur': 20}
{'nama': 'andi', 'umur': 21}

dict

**Tugas Praktek 3.3**

1.Printing Data type menggunakan Variable.
Ketikan kode di bawah ini pada Code Editor.
``` javascript
var_string="Mari Belajar Python"
var_int=10
var_float=3.14
var_list=[1,2,3,4]
var_tuple=("satu","dua","tiga")
var_dict={"nama":"Ali", 'umur':20}


print(var_string)
print(var_int)
print(var_float)
print(var_list)
print(var_tuple)
print(var_dict)
```

In [51]:
#Jawab Tugas Praktek 3.3 Nomor 1
var_string="mari belajar python"
var_int=10
var_float=3.14
var_list=[1,2,3,4]
var_tuple=("satu", "dua", "tiga")
var_dict={"nama":"ali", 'umur':20}

print(var_string)
print(var_int)
print(var_float)
print(var_list)
print(var_tuple)
print(var_dict)

mari belajar python
10
3.14
[1, 2, 3, 4]
('satu', 'dua', 'tiga')
{'nama': 'ali', 'umur': 20}

2. Tambahkan code di bawah ini untuk mengetahui type data dari suatu value di variabel.
``` javascript
print(type(var_string))
print(type(var_int))
print(type(var_float))
print(type(var_list))
print(type(var_tuple))
print(type(var_dict))
```

In [59]:
#Jawab Tugas Praktek 3.3 Nomor 2

var_string=("Hallo world, Im using the pyton")
var_int=20
var_float=22.7
var_list=1,2,3,4,5
var_tuple=("satu", "dua", "tiga", "empat", "lima")
var_dict={"Nama": "Rama", 'usia':20}

#menampilkan data atau isi variabel
print(var_string)
print(var_int)
print(var_float)
print(var_tuple)
print(var_dict)

Hallo world, Im using the pyton
20
22.7
('satu', 'dua', 'tiga', 'empat', 'lima')
{'Nama': 'Rama', 'usia': 20}